# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Local/archive files
archive/